tensorboard
tensorboardx
timm
einops
matplotlib
seaborn
imageio
scipy
h5py
torchshow

Cython
yacs
emoji
wandb
imageio
prettytable
pandas
opencv-python-headless


# CUDA: 10.2
# Python: 3.8.17
# PyTorch: 1.12.1
# torchvision: 0.13.1
# cuDNN: 7.6.5
